{% extends 'accounts/main.html' %}
{% load mathfilters %}

{% block content %}

<br>

<div class="row">
    <div class="col-md-3"></div>

	<div class="col-md-6">
		<h5>Account Details:</h5>
		<hr>
		<div class="card card-body">
			<p>Account Balance: Rs. {% if account_balance.amount__sum %}{{account_balance.amount__sum}}{% else %}0{% endif %}</p>
			<table class="table table-sm">
				<tr>
					<th></th>
                    <th>Transaction Date</th>
					<th>Transaction Amount(Rs.)</th>
					<th>Transaction Type</th>
				</tr>
				{% if transactions %}
					{% for transaction in transactions %}
					<tr>
						<td></td>
						<td>{{transaction.date_created}}</td>
						<td>{{transaction.amount|abs}}</td>
						<td>{{transaction.get_transaction_type_display}}</td>
					</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="4" align="center">No transactions to display</td>
					</tr>
				{% endif %}

			</table>
		</div>
	</div>

	<div class="col-md-3"></div>

</div>

{% endblock %}